.register{
    background: -webkit-linear-gradient(left, #f0f4f7, white);;
    margin-top: 1%;
    padding: 3%;
}
.register-left{
    text-align: center;
    color: #fff;
    margin-top: 90px;
}
.register-left input{
    border: none;
    border-radius: 1.5rem;
    padding: 20px;
    width: 60px;
    background: #f8f9fa;
    font-weight: bold;
    color: #383d41;
    margin-top: 30px;
    margin-bottom: 2.5px;
    cursor: pointer;
}
.register-right{
    background: white;
    border-top-left-radius: 10% 50%;
    border-bottom-left-radius: 10% 50%;
}
.register-left img{
    margin-top: 5%;
    margin-bottom: 4.5%;
    width: 25%;
    -webkit-animation: mover 2s infinite  alternate;
    animation: mover 1s infinite  alternate;
}
@-webkit-keyframes mover {
    0% { transform: translateY(0); }
    100% { transform: translateY(-20px); }
}
@keyframes mover {
    0% { transform: translateY(0); }
    100% { transform: translateY(-20px); }
}
.register-left p{
    font-weight: lighter;
    padding: 15px;
    margin-top: -9px;
}
.register .register-form{
    padding: 90px;
    margin-top: 70px;
}
.btnRegister{
    float: right;
    margin-top: 10px;
    border: none;
    border-radius: 1.5rem;
    padding: 2%;
    background: #0062cc;
    color: #fff;
    font-weight: 600;
    width: 50%;
    cursor: pointer;
}
.register .nav-tabs{
    margin-top: 30px;
    border: none;
    background: #0062cc;
    border-radius: 1.5rem;
    width: 25%;
    float: right;
}
.register .nav-tabs .nav-link{
    padding: 2px;
    height: 34px;
    font-weight: 600;
    color: #fff;
    border-top-right-radius: 1.5rem;
    border-bottom-right-radius: 1.5rem;
}
.register .nav-tabs .nav-link:hover{
    border: none;
}
.register .nav-tabs .nav-link.active{
    width: 100px;
    color: #0062cc;
    border: 2px solid #0062cc;
    border-top-left-radius: 1.5rem;
    border-bottom-left-radius: 1.5rem;
}
.register-heading{
    text-align: center;
    margin-top: 8%;
    margin-bottom: -120px;
    color: #495057;
}